.main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    /* box-shadow: 0px 4px 8px rgba(23, 59, 151, 0.2); */
    background-color: #ffffff;
}
/*  
.main-card button {
    margin-bottom: 8px;
    padding: 12px 1000px;
    border-radius: 5px;
    background-color: #000000;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.8s ease-in-out;
} */

/* .main-card button:hover {
    background-color: #AD252F;
    text-decoration: none;

} */


.customer-card {
    background-color: #AD252F;
    border-radius: 12px;
    padding: 500px;
    /* width: 100%; */
    margin-bottom: 10px;

  }
  
.customer-card p {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    margin: 0;
    padding: 6px 2px;
  }
  
.customer-card p:first-of-type {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
  }
  
/* .customer-card p:nth-of-type(even) {
    background-color: #000000;
  } */
  
.customer-card p:last-of-type {
    margin-bottom: 2px;
  }

.firstlast{

    text-align: center;
    font-weight: bold;
    font-size: 30px;
}